In [1]:
domains = ['www.rt.com',
          'www.pbs.org.newshour.',
          'www.npr.org',
          'sputniknews.com',
          'xinhuanet.com',
          'www.globaltimes.cn',
          'www.aljazeera.com',
          'www.bbc.com']
months = ['10-2019', '11-2019', '12-2019', '01-2020', '02-2020', '03-2020']

In [2]:
data_dict = {}
to_strip_list = ['www', 'com', 'cn', 'org', '.']
for domain in domains:
    # Shorten news outlet domain
    news_outlet = domain
    news_outlet = news_outlet.rstrip('.newshour.')
    for to_strip in to_strip_list:
        news_outlet = news_outlet.strip(to_strip)
    for month in months:
        for article_index in range(5):
            # Call text file, save as string
            text_name = domain + '_' + month.lstrip('0') + '_' + str(article_index) + '.txt'
            with open(text_name, encoding = 'utf-8') as fo:
                # Without specifying encoding, python throws UnicodeDecodeError
                # Of course... Why didn't I think of that.
                content = fo.read() 
            # Create short key for dictionary
            key_name = news_outlet + '_' + month + '_' + str(article_index + 1)
            # 1 observation down
            obs = {key_name : [news_outlet, month, str(article_index + 1), content]}
            data_dict.update(obs)

In [2]:
import numpy as np
import pandas as pd

In [9]:
dataset550 = pd.DataFrame.from_dict(data_dict, orient = 'index')
dataset550.columns = ['outlet', 'month', 'article_id', 'content']

In [ ]:
dataset550.to_csv('dataset550_prelim.csv')

In [8]:
test = pd.read_csv('dataset550_prelim.csv')
test

,Unnamed: 0,outlet,month,article_id,content
0,rt_10-2019_1,rt,10-2019,1,\n\n** WATCH: Dutch farmers clog roads with tr...
1,rt_10-2019_2,rt,10-2019,2,\n\n** Swedish school under fire for forcing k...
2,rt_10-2019_3,rt,10-2019,3,"\n\n** First it was the cow farts, now asthmat..."
3,rt_10-2019_4,rt,10-2019,4,\n\n** A 'woke' remake of 'Baby It's Cold Outs...
4,rt_10-2019_5,rt,10-2019,5,"\n\n** 'She is kind, but emotions should not c..."
...,...,...,...,...,...
235,bbc_03-2020_1,bbc,03-2020,1,\n\n** Climate change: New rules could spell e...
236,bbc_03-2020_2,bbc,03-2020,2,"\n\n** Climate change: The rich are to blame, ..."
237,bbc_03-2020_3,bbc,03-2020,3,\n\n** Cashmere and climate change threaten no...
238,bbc_03-2020_4,bbc,03-2020,4,\n\n** Smart Guide to Climate Change - BBC Fut...
239,bbc_03-2020_5,bbc,03-2020,5,\n\n** Climate change: Australian summers 'twi...

In [7]:
test.outlet.value_counts()

rt             30
sputniknews    30
aljazeera      30
xinhuanet      30
pbs            30
npr            30
bbc            30
globaltimes    30
Name: outlet, dtype: int64